/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 480px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.card-radius{
  margin-top: -150px;
  border-radius: 50px;
}
body{
  font-family: 'Roboto', sans-serif;
}
.header, .card-title{
  font-family: 'Questrial', sans-serif;
  text-shadow: 3px 1px 6px rgb(5, 5, 5);
}
.radius-button{
  border-radius: 50px;
}
h4{
  font-family: 'Questrial', sans-serif;
  text-align: center;
}
hr{
  border-bottom: 1px solid grey;
  width: 500px;
}
.badge{
  background-color: hotpink;
  border-radius: 15px;
}
